*{
   margin :0;
  padding :0;
     box-sizing: border-box;
     font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
     font-weight: 400;
    
}

header{
    margin: 0;
   display: flex;
    width:100%;
    height :55px;
    background-color: #00132c;
    align-items: center;
    justify-content: space-around;
    border-bottom: 4px solid #7b8590;
}

.bch_logo{
    height :50px;
}

.dropdown_container{
    width :30%;
   display: flex;
   justify-content: space-evenly;
    margin: 10px 5px;
}


.search_bar{
    display: flex;
    width :30%;
    height :30px;
   min-width: 150px;
   font-size: 15px;
   font-family: cursive;
}
.search_icon{
    font-size: 10px;
    background-color:#b9cbe1;
    border: 0;
}

.dspaces{
    margin : 0 10px;
}

.search_input{
    color: #7b8590;
    flex-grow: 1;
}

.action_bar{
    font-size: 12px;
   
}

.action_bar a{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color :#e0d6d6;
    text-decoration: none;
}

.banner{
    margin :20px 0;
    background-color :#051e39;
    background-image: url(images/banner.png);
   
}
.banner_vid
{ 
    margin-left:10%;
        width:80%;
   
}

main{
    background-color: #ebf5ff;
}

main h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 3%;
}

main p{
    margin :2% 10%;
    font-size: 1.1rem;
    font-weight: 300;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h3{
    text-align: center;
    font-weight: 400;
    margin-bottom: 3%;
}
